/* greymatter */
/* STANDARD TAGS */

body {
	background: url('../images/background.jpg') repeat;
}

#header {
	height: auto;
}

#header .description {
	margin-left: 50px;
}

#menubar-wrapper {
	margin-bottom: 10px;
	padding: 3px 0;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 0 -1px 1px #111;
	background: #111;
	-moz-box-shadow: 1px 2px 10px #000;
	-webkit-box-shadow: 1px 2px 10px #000;
	-khtml-box-shadow: 1px 2px 10px #000;
	box-shadow: 1px 2px 10px #000;
	background: -moz-linear-gradient(100% 100% 90deg,#0b0b0b, #333, #444 100%); /* IE8 uses -ms-filter for whatever reason... */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColor=0, endColoStr=#FFFFFF);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 72, 72, 1.0)), to(rgba(11, 11, 11, 3.0))         );
}

#content-wrapper {
	background: url('../images/background-lines.png') repeat;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 3px;
	-moz-box-shadow: 1px 2px 10px #000;
	-webkit-box-shadow: 1px 2px 10px #000;
	-khtml-box-shadow: 1px 2px 10px #000;
	box-shadow: 1px 2px 10px #000;
}

#comic-wrap {
	padding: 3px;
}

#comic img, .ceo_thumbnail_widget img {
	border: solid 1px #000;
}

#submit, #searchform button, .type-post, .type-page, .type-comic, .type-showcase, .type-music, .type-attachment, .type-casts, #wp-paginav, .sidebar h2, #comment-wrapper, .blognav, .default-nav, .submit {
	padding: 2px 5px;
	background: #ccc;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: -moz-linear-gradient(100% 100% 90deg, #aaa, #ccc, #ddd 100%); /* IE8 uses -ms-filter for whatever reason... */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColor=#ccc, endColoStr=#FFFFFF);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1.0)),to(rgba(170, 170, 170, 3.0)));
}

.opera #submit, .opera #searchform button, .opera .type-casts, .opera .type-post, .opera .type-page, .opera .type-comic, .opera .type-showcase, .opera .type-music, .opera #wp-paginav, .opera .sidebar h2, .opera #comment-wrapper, .opera .blognav, .opera .default-nav, .opera .submit, .opera .type-attachment {
	background: #ccc;
}

.blognav {
	margin-bottom: 5px;
}

#default-nav-wrapper {
	clear: both;
	padding: 5px 0 0;
}

#submit, #searchform button {
	color: #fff;
}

#searchform button {
	padding: 0 5px;
}

.type-post, .type-page, .type-comic, .type-showcase, .type-music, #comment-wrapper, .type-attachment, .type-casts {
	border: solid 1px #000;
	margin-bottom: 20px;
}

.ie .type-post, .ie .type-page, .ie .type-comic, .ie .type-showcase, .ie .type-music, .ie #wp-paginav, .ie #comment-wrapper, .ie .sidebar h2, .ie input, .ie .type-attachment, .ie .type-casts {
	background: #ddd;
}

.menu a, .menunav a, #header h1 {
	text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-khtml-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
}

h2.page-title, h2.post-title {
	border-bottom: solid 1px #000;
	margin-bottom: 3px;
	color: #000;
	text-shadow: 1px 1px 1px #555;
	-moz-text-shadow: 1px 1px 1px #555;
	-khtml-text-shadow: 1px 1px 1px #555;
	-webkit-text-shadow: 1px 1px 1px #555;
}

.archive h2.page-title, .search h2.page-title {
	border-bottom: solid 1px #000;
	margin-bottom: 3px;
	color: #fff;
}

table#wp-calendar caption {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	-moz-text-shadow: 1px 1px 1px #000;
	-khtml-text-shadow: 1px 1px 1px #000;
	-webkit-text-shadow: 1px 1px 1px #000;
}

a {
	color: #003d6c;
}

.sidebar a, .nav a, #header h1 a {
	color: #fff;
}

a:hover, .sidebar a:hover, .nav a:hover, #header h1 a:hover {
	color: #f00;
}

#wp-calendar-wrap {
	background: #ccc;
	background: -moz-radial-gradient(75% 75%, farthest-side, #555, #111);
	background: -webkit-gradient(radial, 75% 75%, 0, 50% 50%, 350, from(#555), to(#111));
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: solid 1px #111;
}

.ie #wp-calendar-wrap {
	color: #000;
}

#wp-calendar a {
	color: #fcff00;
}


table#wp-calendar td {
	border-color: #aaa;
}

.narrowcolumn {
	min-height: 800px;
}

.sidebar h2 {
	border: solid 1px #000;
	margin-bottom: 5px;
	color: #000;
}

.comment-text {
	padding: 10px;
	border-bottom: dotted 1px #000;
}

/* comments */

#comment, #author, #email, #url, #comment-textarea, #s-search {
	padding: 2px;
	color: #000;
	font-family: 'Verdana' , sans-serif;
	font-size: 12px;
	background: #eee;
	border: 1px solid #888;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#comment-textarea:focus, #comment:hover, #author:hover, #email:hover, #url:hover, #comment:focus, #author:focus, #email:focus, #url:focus {
	background: #fff;
}

#submit, #searchform button {
	color: #000;
	font-weight: 700;
}

.ie #searchform button, .ie #submit {
	height: 20px;
	padding-bottom: 3px;
	line-height: 8px;
	background: #ccc;
}

.menu ul li a:hover, .menu ul li ul li a:hover {
	color: yellow;
}

.sidebar-no-widgets {
	color: #fff;
}

#footer p.footer-text {
	color: #fff;
}

.ceo_latest_thumbnail_widget .widget-content {
	text-align: center;
}

.widget-content, .archiveresults, .searchresults {
	color: #fff;
}

.menunav-prev a:hover, .menunav-next a:hover, .menunav-rss:hover, .menu ul li a:hover, .menu ul li a.selected {
	color: #fcff00;
	background: -moz-linear-gradient(100% 100% 90deg, #303030, #444, #000 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 1.0)),to(rgba(56, 56, 56, 3.0)));
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.menu ul li ul li a:hover, .menu ul li ul li a.selected {
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #111;
}

/* this is the color of the text in the menubar when its on that page */
.menu .current_page_item a {
	color: #fcff00 !important;
}

.menu-item-home {
	margin-left: 5px;
}

/* casts / commpress design */

.casts-show {
	font-size: 16px;
	margin-left: 20px;
	margin-bottom: 20px;
}


/* nav wrappers  */
#default-nav-wrapper {
	margin: 2px auto;
}

.default-nav, .casts-nav {
	border: solid 1px #999;
	background: #ddd;
	width: 240px;
	padding: 4px 2px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}


/* fix for opera */
.opera #submit, .opera #searchform button, .opera .type-post, .opera .type-page, .opera .wpsb_opt_in button,
.opera .type-comic, .opera .type-showcase, .opera .type-music, .opera #wp-paginav, .opera .sidebar h2, 
.opera #comment-wrapper, .opera .blognav, .opera .default-nav, .opera .submit, .opera .type-attachment, .opera .sidebar .widget {
	background: #ccc;
}

.wcp_collective_ads_widget .wcp-ad {
	text-align: center;
}

.wcp_collective_ads_widget img {
	margin: 0 auto;
	border: solid 1px: #000;
	-moz-box-shadow: 1px 1px 3px #111;
	-webkit-box-shadow: 1px 1px 3px #111;
	box-shadow: 1px 1px 3px #111;
}
