/* Base theme design */

body {
	background: #0a4467 url('../images/background-blueocean.jpg') top center no-repeat;
}

a:link, #header h1 a:link {
	color: #ffd34e;
}

a:visited, #header h1 a:visited {
	color: #efc64a;
}

a:hover, #header h1 a:hover {
	color: #f00;
}

.post-text {
	border-color: #256991;
}

#content-wrapper, .wp-caption {
	background: url('../images/bluetrans.png') repeat;
	border: solid 1px #333;
}

.type-post, .type-page, .type-comic, .type-music, .type-showcase, .type-casts, .sidebar .widget, .type-attachment, #wp-paginav {
	background: url('../images/bluetranslight.png') repeat;
	border: solid 1px #333;
	margin-bottom: 10px;
}

.comment .comment-content, blockquote {
	background: url('../images/bluetranslow.png') repeat;
}

table#wp-calendar td {
	border-color: #256991;
}

.default-nav, .casts-nav {
	background-color: #256991;
	color: #6598b6;
}

.narrowcolumn, .widecolumn {
	color: #fafafa;
}

.sidebar-no-widgets a:link, .sidebar-no-widgets a:visited {
	color: #b00;
}

.sidebar-no-widgets a:hover {
	color: #f00;
}